# Project exclude paths
/target/

.idea/*
*.pb
*.xml
.idea/misc.xml
.idea/sonarlint/issuestore/index.pb
.idea/misc.xml
.idea/misc.xml
.idea/sonarlint/issuestore/index.pb
*.pb
*.xml
*.pb
.idea/misc.xml
*.xml
.idea/misc.xml
*.xml
